.amap-maps,
.amap-e,
.amap-layers,
.amap-tile,
.amap-tile-container {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.amap-wrapper {
    margin-left: 42%;
    width: 50%;
    max-height: 400px;
}

.amap-drags,
.amap-layers {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.amap-logo {
    position: absolute;
    bottom: 1px;
    left: 1px;
    z-index: 160;
    height: 20px;
}

.amap-layers {
    z-index: 0;
}

.amap-controls {
    z-index: 150;
}

.amap-layers canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.el-vue-amap-container,
.el-vue-amap-container .el-vue-amap {
    height: 100%;
}

.amap-container {
    cursor: url(https://webapi.amap.com/theme/v1.3/openhand.cur), default;
}

.el-container,
.el-container.is-vertical,
.el-link,
.el-steps--vertical {
    -webkit-box-direction: normal;
}

.amap-overlays,
.amap-markers,
.amap-marker {
    position: absolute;
    left: 0;
    top: 0;
}

.amap-copyright {
    position: absolute;
    display: block!important;
    left: 77px;
    height: 16px;
    bottom: 0;
    padding-bottom: 3px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    z-index: 160;
}

.amap-markers {
    z-index: 120;
}

.el-container,
.el-container.is-vertical,
.el-link,
.el-steps--vertical {
    -webkit-box-direction: normal;
}

.amap-icon {
    position: relative;
    z-index: 1;
}